// Sidebar.module.scss

.sidebar {
    height: 100%;
    background-color: white;
    transition: left 0.3s ease-in-out;
    box-shadow: none !important;

    .menu-sidebar {
        display: flex;
        padding: 15px 0 10px 20px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    .link {
        text-decoration: none;
        color: inherit;
    }

    .icon-sidebar {
        padding-right: 20px;
        color: gray;
    }

    .menu--text {
        padding-right: 20px;
        width: 120px;
        transition: all 0.1s ease-in-out;
        opacity: 1;
        text-align: left;

        &-closed {
            text-align: left;
            padding-right: 20px;
            width: 0;
            opacity: 0;
            transition: all 0.1s ease-in-out;
        }
    }
}