.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .notFoundContainer h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .notFoundContainer p {
    font-size: 1.5rem;
  }
  